@model NewsWebExample.ViewModels.NewsCreateViewModel
@{
    ViewData["Title"] = "Add news";
}

<form asp-action="Create" asp-controller="News" method="POST" 
      enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input required type="text" asp-for="Name" class="form-control" />
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>
    <div class="form-group">
        <label asp-for="Content"></label>
        <textarea required type="text" asp-for="Content" class="form-control"></textarea>
        <span class="text-danger" asp-validation-for="Content"></span>
    </div>
    <label asp-for="Tags"></label>
    <select multiple required class="form-control" id="sel2" asp-for="SelectedTags">
        @foreach (var tag in Model.Tags)
        {
            @if (Model.SelectedTags != null && Model.SelectedTags.Any(x => x == tag.Id))
            {
                <option selected value="@tag.Id">@tag.Name</option>
            }
            else
            {
                <option value="@tag.Id">@tag.Name</option>
            }
        }
    </select>
    <div class="form-group">
        <label asp-for="File"></label>
        <input type="file" asp-for="File" class="border form-control-file"/>
        <span class="text-danger" asp-validation-for="File"></span>
    </div>
    <span class="text-danger" asp-validation-for="SelectedTags"></span>
    <button class="btn btn-success pl-4 pr-4" type="submit">Save</button>
</form>

